<div class="container">
  <div class="row">
    <div class="search-employee">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="search"
        autocomplete="off"
        placeholder="Start searching for an Employee by username">
    </div>
    <hr>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees | filter: search: 'gender'">
        <td>{{employee.username}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.dateOfBirth}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.country}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
